---
layout: default
---

{% include sidebar.html %}

{% include card.html title="Objective" decal-img="objective.svg" markdown-content="objective.md"%}
{% include card.html title="Expertise" decal-img="skills.svg" markdown-content="expertise.md"%}
{% include card.html title="Experience" decal-img="experience.svg" markdown-content="experience.md" %}
{% include card.html title="Education" decal-img="education.svg" markdown-content="education.md" %}
{% include card.html title="Projects" decal-img="projects.svg" markdown-content="projects.md" %}
{% include card.html title="Publications" decal-img="publications.svg" markdown-content="publications.md" %}
